Employee satisfaction surveys to see if any trends exist. Want to know if reason for resignations were due to dissatisfication with position.

In [639]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [640]:
# Two surveys of interest
dete_survey = pd.read_csv('dete_survey.csv')
tafe_survey = pd.read_csv('tafe_survey.csv')

In [641]:
print(dete_survey.info(), dete_survey.head())
print(dete_survey.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             822 non-null object
DETE Start Date                        822 non-null object
Role Start Date                        822 non-null object
Position                               817 non-null object
Classification                         455 non-null object
Region                                 822 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Professional Development               808 non-null object
Opportunities for promotion            735 non-null object
Staff morale                           816 non-null object
Workplace issue                        788 non-null object
Physical environment                   817 non-null object
Worklife balance                       815 non-null object
Stress and pressure support            810 non-null object
Performance of supervisor              813 non-null object
Peer support                           812 non-null object
Initiative                             813 non-null object
Skills                                 811 non-null object
Coach                                  767 non-null object
Career Aspirations                     746 non-null object
Feedback                               792 non-null object
Further PD                             768 non-null object
Communication                          814 non-null object
My say                                 812 non-null object
Information                            816 non-null object
Kept informed                          813 non-null object
Wellness programs                      766 non-null object
Health & Safety                        793 non-null object
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB
None    ID                    SeparationType Cease Date DETE Start Date  \
0   1             Ill Health Retirement    08/2012            1984
1   2  Voluntary Early Retirement (VER)    08/2012      Not Stated
2   3  Voluntary Early Retirement (VER)    05/2012            2011
3   4         Resignation-Other reasons    05/2012            2005
4   5                    Age Retirement    05/2012            1970

  Role Start Date                                      Position  \
0            2004                                Public Servant
1      Not Stated                                Public Servant
2            2011                               Schools Officer
3            2006                                       Teacher
4            1989  Head of Curriculum/Head of Special Education

  Classification              Region                      Business Unit  \
0        A01-A04      Central Office  Corporate Strategy and Peformance
1        AO5-AO7      Central Office  Corporate Strategy and Peformance
2            NaN      Central Office               Education Queensland
3        Primary  Central Queensland                                NaN
4            NaN          South East                                NaN

     Employment Status  ...   Kept informed  Wellness programs  \
0  Permanent Full-time  ...               N                  N
1  Permanent Full-time  ...               N                  N
2  Permanent Full-time  ...               N                  N
3  Permanent Full-time  ...               A                  N
4  Permanent Full-time  ...               N                  A

   Health & Safety  Gender          Age  Aboriginal  Torres Strait  South Sea  \
0                N    Male        56-60         NaN            NaN        NaN
1                N    Male        56-60         NaN            NaN        NaN
2                N    Male  61 or older         NaN            NaN        NaN
3                A  Female        36-40         NaN            NaN        NaN
4                M  Female  61 or older         NaN            NaN        NaN

   Disability  NESB
0         NaN   Yes
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN

[5 rows x 56 columns]
ID                                       0
SeparationType                           0
Cease Date                               0
DETE Start Date                          0
Role Start Date                          0
Position                                 5
Classification                         367
Region                                   0
Business Unit                          696
Employment Status                        5
Career move to public sector             0
Career move to private sector            0
Interpersonal conflicts                  0
Job dissatisfaction                      0
Dissatisfaction with the department      0
Physical work environment                0
Lack of recognition                      0
Lack of job security                     0
Work location                            0
Employment conditions                    0
Maternity/family                         0
Relocation                               0
Study/Travel                             0
Ill Health                               0
Traumatic incident                       0
Work life balance                        0
Workload                                 0
None of the above                        0
Professional Development                14
Opportunities for promotion             87
Staff morale                             6
Workplace issue                         34
Physical environment                     5
Worklife balance                         7
Stress and pressure support             12
Performance of supervisor                9
Peer support                            10
Initiative                               9
Skills                                  11
Coach                                   55
Career Aspirations                      76
Feedback                                30
Further PD                              54
Communication                            8
My say                                  10
Information                              6
Kept informed                            9
Wellness programs                       56
Health & Safety                         29
Gender                                  24
Age                                     11
Aboriginal                             806
Torres Strait                          819
South Sea                              815
Disability                             799
NESB                                   790
dtype: int64

In [642]:
print(tafe_survey.info(), tafe_survey.head())
print(tafe_survey.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
Record ID                                                                                                                                                        702 non-null float64
Institute                                                                                                                                                        702 non-null object
WorkArea                                                                                                                                                         702 non-null object
CESSATION YEAR                                                                                                                                                   695 non-null float64
Reason for ceasing employment                                                                                                                                    701 non-null object
Contributing Factors. Career Move - Public Sector                                                                                                                437 non-null object
Contributing Factors. Career Move - Private Sector                                                                                                               437 non-null object
Contributing Factors. Career Move - Self-employment                                                                                                              437 non-null object
Contributing Factors. Ill Health                                                                                                                                 437 non-null object
Contributing Factors. Maternity/Family                                                                                                                           437 non-null object
Contributing Factors. Dissatisfaction                                                                                                                            437 non-null object
Contributing Factors. Job Dissatisfaction                                                                                                                        437 non-null object
Contributing Factors. Interpersonal Conflict                                                                                                                     437 non-null object
Contributing Factors. Study                                                                                                                                      437 non-null object
Contributing Factors. Travel                                                                                                                                     437 non-null object
Contributing Factors. Other                                                                                                                                      437 non-null object
Contributing Factors. NONE                                                                                                                                       437 non-null object
Main Factor. Which of these was the main factor for leaving?                                                                                                     113 non-null object
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                           608 non-null object
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                       613 non-null object
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                             610 non-null object
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                              608 non-null object
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                  615 non-null object
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                    607 non-null object
InstituteViews. Topic:7. Management was generally supportive of me                                                                                               614 non-null object
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                          608 non-null object
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                            610 non-null object
InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                         602 non-null object
InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                   601 non-null object
InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                               597 non-null object
InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                                601 non-null object
WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                  609 non-null object
WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                        605 non-null object
WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                  607 non-null object
WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                          610 non-null object
WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                    613 non-null object
WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                     609 non-null object
WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                                 609 non-null object
WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]    608 non-null object
WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                              608 non-null object
WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                      611 non-null object
WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                      610 non-null object
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                          611 non-null object
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                      606 non-null object
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                         610 non-null object
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date    609 non-null object
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                               603 non-null object
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                           606 non-null object
Induction. Did you undertake Workplace Induction?                                                                                                                619 non-null object
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    432 non-null object
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    483 non-null object
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          440 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        555 non-null object
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   555 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       530 non-null object
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   553 non-null object
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   555 non-null object
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  555 non-null object
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         555 non-null object
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                        608 non-null object
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      594 non-null object
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   587 non-null object
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       586 non-null object
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     581 non-null object
Gender. What is your Gender?                                                                                                                                     596 non-null object
CurrentAge. Current Age                                                                                                                                          596 non-null object
Employment Type. Employment Type                                                                                                                                 596 non-null object
Classification. Classification                                                                                                                                   596 non-null object
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        596 non-null object
LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                        596 non-null object
dtypes: float64(2), object(70)
memory usage: 395.0+ KB
None       Record ID                              Institute  \
0  6.341330e+17  Southern Queensland Institute of TAFE
1  6.341337e+17            Mount Isa Institute of TAFE
2  6.341388e+17            Mount Isa Institute of TAFE
3  6.341399e+17            Mount Isa Institute of TAFE
4  6.341466e+17  Southern Queensland Institute of TAFE

                   WorkArea  CESSATION YEAR Reason for ceasing employment  \
0  Non-Delivery (corporate)          2010.0              Contract Expired
1  Non-Delivery (corporate)          2010.0                    Retirement
2       Delivery (teaching)          2010.0                    Retirement
3  Non-Delivery (corporate)          2010.0                   Resignation
4       Delivery (teaching)          2010.0                   Resignation

  Contributing Factors. Career Move - Public Sector   \
0                                                NaN
1                                                  -
2                                                  -
3                                                  -
4                                                  -

  Contributing Factors. Career Move - Private Sector   \
0                                                NaN
1                                                  -
2                                                  -
3                                                  -
4                       Career Move - Private Sector

  Contributing Factors. Career Move - Self-employment  \
0                                                NaN
1                                                  -
2                                                  -
3                                                  -
4                                                  -

  Contributing Factors. Ill Health Contributing Factors. Maternity/Family  \
0                              NaN                                    NaN
1                                -                                      -
2                                -                                      -
3                                -                                      -
4                                -                                      -

                                     ...                                     \
0                                    ...
1                                    ...
2                                    ...
3                                    ...
4                                    ...

  Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?  \
0                                                Yes
1                                                Yes
2                                                Yes
3                                                Yes
4                                                Yes

  Workplace. Topic:Does your workplace promote and practice the principles of employment equity?  \
0                                                Yes
1                                                Yes
2                                                Yes
3                                                Yes
4                                                Yes

  Workplace. Topic:Does your workplace value the diversity of its employees?  \
0                                                Yes
1                                                Yes
2                                                Yes
3                                                Yes
4                                                Yes

  Workplace. Topic:Would you recommend the Institute as an employer to others?  \
0                                                Yes
1                                                Yes
2                                                Yes
3                                                Yes
4                                                Yes

  Gender. What is your Gender? CurrentAge. Current Age  \
0                       Female                  26  30
1                          NaN                     NaN
2                          NaN                     NaN
3                          NaN                     NaN
4                         Male                  41  45

  Employment Type. Employment Type Classification. Classification  \
0              Temporary Full-time            Administration (AO)
1                              NaN                            NaN
2                              NaN                            NaN
3                              NaN                            NaN
4              Permanent Full-time        Teacher (including LVT)

  LengthofServiceOverall. Overall Length of Service at Institute (in years)  \
0                                                1-2
1                                                NaN
2                                                NaN
3                                                NaN
4                                                3-4

  LengthofServiceCurrent. Length of Service at current workplace (in years)
0                                                1-2
1                                                NaN
2                                                NaN
3                                                NaN
4                                                3-4

[5 rows x 72 columns]
Record ID                                                                                                                                                          0
Institute                                                                                                                                                          0
WorkArea                                                                                                                                                           0
CESSATION YEAR                                                                                                                                                     7
Reason for ceasing employment                                                                                                                                      1
Contributing Factors. Career Move - Public Sector                                                                                                                265
Contributing Factors. Career Move - Private Sector                                                                                                               265
Contributing Factors. Career Move - Self-employment                                                                                                              265

In [643]:
# Re-read in file but set 'Not Stated' to na for cleaning purposes
dete_survey = pd.read_csv('dete_survey.csv', na_values='Not Stated')

In [644]:
# Drop unnecessary columns
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49], axis=1)
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66], axis=1)

In [645]:
dete_survey_updated.columns = dete_survey_updated.columns.str.replace('/',' ').str.replace(' ','_').str.strip().str.lower()

In [646]:
tafe_survey_updated = tafe_survey_updated.rename(columns={'Record ID': 'id','CESSATION YEAR': 'cease_date',
                           'Reason for ceasing employment': 'separationtype',
                           'Gender. What is your Gender?': 'gender',
                           'CurrentAge. Current Age': 'age',
                           'Employment Type. Employment Type': 'employment_status',
                           'Classification. Classification': 'position',
                           'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service',
                           'LengthofServiceCurrent. Length of Service at current workplace (in years)': 'role_service'})

In [647]:
dete_uniques = dete_survey_updated['separationtype'].unique()
dete_resignations = dete_survey_updated[dete_survey_updated['separationtype'].notnull()]

In [648]:
tafe_uniques = tafe_survey_updated['separationtype'].unique()
tafe_resignations = tafe_survey_updated[tafe_survey_updated['separationtype'].notnull()]

In [649]:
# Ensure dates are correct and make sense
dete_start_dates = dete_survey_updated['dete_start_date']
dete_cease_dates = dete_survey_updated['cease_date']
tafe_cease_dates = tafe_survey_updated['cease_date']

In [650]:
dete_start_dates.value_counts(ascending=False)

2011.0    40
2007.0    34
2008.0    31
2010.0    27
2012.0    27
2009.0    24
2006.0    23
2013.0    21
1970.0    21
1975.0    21
1990.0    20
2005.0    20
1999.0    19
1996.0    19
1992.0    18
2004.0    18
1991.0    18
2000.0    18
1989.0    17
1976.0    15
1988.0    15
2002.0    15
2003.0    15
1978.0    15
1995.0    14
1979.0    14
1974.0    14
1980.0    14
1998.0    14
1997.0    14
1993.0    13
1986.0    12
1972.0    12
1977.0    11
1971.0    10
1994.0    10
1969.0    10
2001.0    10
1984.0    10
1981.0     9
1983.0     9
1973.0     8
1985.0     8
1987.0     7
1982.0     4
1963.0     4
1968.0     3
1967.0     2
1965.0     1
1966.0     1
Name: dete_start_date, dtype: int64

In [651]:
dete_start_dates.astype(float)

0      1984.0
1         NaN
2      2011.0
3      2005.0
4      1970.0
5      1994.0
6      1972.0
7      1988.0
8      2009.0
9      1997.0
10     1999.0
11     2009.0
12     1998.0
13     1967.0
14     2007.0
15     1995.0
16        NaN
17     1996.0
18     2006.0
19     1989.0
20     1982.0
21     1980.0
22     1997.0
23     1973.0
24     1981.0
25     1995.0
26     1974.0
27     2005.0
28     1989.0
29     1975.0
        ...
792    1996.0
793    2003.0
794       NaN
795    1977.0
796    1970.0
797    2000.0
798    1995.0
799    1981.0
800    2011.0
801    1972.0
802       NaN
803    2004.0
804    2008.0
805    1990.0
806    2005.0
807    2004.0
808    2010.0
809    1979.0
810    1972.0
811    2008.0
812    1998.0
813    1995.0
814       NaN
815    2012.0
816    2012.0
817    1977.0
818    1980.0
819    2009.0
820    2001.0
821       NaN
Name: dete_start_date, Length: 822, dtype: float64

In [652]:
dete_cease_dates.value_counts(ascending=False)

2012       344
2013       200
01/2014     43
12/2013     40
09/2013     34
06/2013     27
07/2013     22
10/2013     20
11/2013     16
08/2013     12
05/2013      7
05/2012      6
07/2014      2
04/2014      2
04/2013      2
08/2012      2
02/2014      2
2010         1
09/2010      1
2014         1
11/2012      1
07/2006      1
09/2014      1
07/2012      1
Name: cease_date, dtype: int64

In [653]:
tafe_cease_dates.value_counts(ascending=False)

2011.0    268
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: cease_date, dtype: int64

In [654]:
tafe_cease_dates.astype(float)

0      2010.0
1      2010.0
2      2010.0
3      2010.0
4      2010.0
5      2010.0
6      2010.0
7      2010.0
8      2009.0
9      2010.0
10     2010.0
11     2010.0
12     2010.0
13     2010.0
14     2010.0
15     2010.0
16     2010.0
17     2010.0
18     2010.0
19     2010.0
20     2010.0
21     2010.0
22     2010.0
23     2010.0
24     2010.0
25     2010.0
26     2010.0
27     2010.0
28     2010.0
29     2010.0
        ...
672    2013.0
673    2013.0
674    2013.0
675    2013.0
676    2013.0
677    2013.0
678    2013.0
679    2013.0
680    2013.0
681    2013.0
682    2013.0
683    2013.0
684    2013.0
685    2013.0
686    2013.0
687    2013.0
688    2013.0
689    2013.0
690    2013.0
691    2013.0
692    2013.0
693    2013.0
694    2013.0
695    2013.0
696    2013.0
697    2013.0
698    2013.0
699    2013.0
700    2013.0
701    2013.0
Name: cease_date, Length: 702, dtype: float64

In [655]:
dete_cease_dates = dete_cease_dates.str[-4:].astype(float)

In [656]:
dete_cease_dates.value_counts()

2013.0    380
2012.0    354
2014.0     51
2010.0      2
2006.0      1
Name: cease_date, dtype: int64

In [657]:
# tafe_survey contains years of services as 'institute_service'
# Creating new column to match tafe years of service
dete_resignations['institute_service'] = dete_cease_dates - dete_start_dates

In [658]:
tafe_resignations

,id,Institute,WorkArea,cease_date,separationtype,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,gender,age,employment_status,position,institute_service,role_service
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4
5,6.341475e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,56 or older,Contract/casual,Teacher (including LVT),7-10,7-10
6,6.341520e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,Maternity/Family,...,-,-,Other,-,Male,20 or younger,Temporary Full-time,Administration (AO),3-4,3-4
7,6.341537e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Male,46 50,Permanent Full-time,Teacher (including LVT),3-4,3-4
8,6.341579e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2009.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,36 40,Temporary Full-time,Tutor,3-4,3-4
9,6.341588e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,Other,-,Female,21 25,Permanent Full-time,Administration (AO),1-2,1-2
10,6.341588e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,41 45,Temporary Part-time,Administration (AO),Less than 1 year,Less than 1 year
11,6.341719e+17,Barrier Reef Institute of TAFE,Delivery (teaching),2010.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,56 or older,Permanent Part-time,Tutor,11-20,11-20
12,6.341719e+17,Barrier Reef Institute of TAFE,Delivery (teaching),2010.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,51-55,Permanent Full-time,Teacher (including LVT),3-4,3-4
13,6.341725e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 35,Temporary Full-time,Administration (AO),11-20,Less than 1 year
14,6.341726e+17,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 35,Permanent Part-time,Teacher (including LVT),7-10,7-10
15,6.341761e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,46 50,Permanent Part-time,Technical Officer (TO),11-20,11-20
16,6.341770e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6.341771e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,31 35,Permanent Full-time,Administration (AO),7-10,1-2
18,6.341779e+17,Brisbane North Institute of TAFE,Delivery (teaching),2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,6.341820e+17,Southbank Institute of Technology,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
20,6.341821e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
21,6.341831e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
22,6.341847e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,Other,-,Male,26 30,Temporary Full-time,Administration (AO),5-6,5-6
23,6.341907e+17,Central Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,-,-,Female,26 30,Contract/casual,Administration (AO),Less than 1 year,Less than 1 year
24,6.341907e+17,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 35,Permanent Part-time,Teacher (including LVT),7-10,7-10
25,6.341909e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,41 45,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
26,6.341934e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
27,6.341935e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,56 or older,Temporary Full-time,Administration (AO),More than 20 years,7-10
28,6.341951e+17,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
29,6.341994e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 35,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,6.350132e+17,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Retirement,-,-,-,Ill Health,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
673,6.350166e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,41 45,Temporary Full-time,Administration (AO),1-2,1-2
674,6.350170e+17,Sunshine Coast Institute of TAFE,Non-Delivery (corporate),2013.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,51-55,Temporary Part-time,Operational (OO),Less than 1 year,Less than 1 year
675,6.350175e+17,Tropical North Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Male,51-55,Temporary Full-time,Teacher (including LVT),Less than 1 year,Less than 1 year
676,6.350194e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,41 45,Contract/casual,Administration (AO),1-2,Less than 1 year
677,6.350219e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,36 40,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
678,6.350253e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,51-55,Permanent Full-time,Administration (AO),3-4,3-4
679,6.350279e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,Female,56 or older,Temporary Part-time,Operational (OO),1-2,1-2
680,6.350306e+17,Brisbane North Institute of TAFE,Delivery (teaching),2013.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,41 45,Permanent Full-time,Administration (AO),5-6,3-4
681,6.350314e+17,Central Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,26 30,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
682,6.350357e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,26 30,Permanent Part-time,Administration (AO),Less than 1 year,Less than 1 year
683,6.350374e+17,Central Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,41 45,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
684,6.350375e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,41 45,Contract/casual,Administration (AO),3-4,Less than 1 year
685,6.350402e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,-,-,Female,26 30,Temporary Full-time,Technical Officer (TO),1-2,1-2
686,6.350426e+17,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,41 45,Temporary Full-time,Administration (AO),5-6,5-6
687,6.350428e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Termination,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,36 40,Temporary Full-time,Administration (AO),3-4,3-4
688,6.350479e+17,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,-,NONE,Female,46 50,Permanent Part-time,Professional Officer (PO),5-6,5-6
689,6.350480e+17,Central Queensland Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),Less than 1 year,Less than 1 year
690,6.350496e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
691,6.350496e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,Female,56 or older,Permanent Part-time,Operational (OO),3-4,3-4
692,6.350592e+17,Mount Isa Institute of TAFE,Delivery (teaching),2013.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,6.350599e+17,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
694,6.350652e+17,Sunshine Coast Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
695,6.350653e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2013.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,56 or older,Temporary Part-time,Teacher (including LVT),Less than 1 year,Less than 1 year
696,6.350660e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,21 25,Temporary Full-time,Operational (OO),5-6,5-6
697,6.350668e+17,Barrier Reef Institute of TAFE,Delivery (teaching),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,51-55,Temporary Full-time,Teacher (including LVT),1-2,1-2
698,6.350677e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
699,6.350704e+17,Tropical North Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,51-55,Permanent Full-time,Teacher (including LVT),5-6,1-2
700,6.350712e+17,Southbank Institute of Technology,Non-Delivery (corporate),2013.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,41 45,Temporary Full-time,Professional Officer (PO),1-2,1-2
701,6.350730e+17,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,Career Move - Self-employment,-,-,...,-,Travel,-,-,Female,26 30,Contract/casual,Administration (AO),3-4,1-2

In [659]:
# Examine reason for resignation
tafe_resignations['Contributing Factors. Dissatisfaction'].value_counts()

-                                         371
Contributing Factors. Dissatisfaction      66
Name: Contributing Factors. Dissatisfaction, dtype: int64

In [660]:
tafe_resignations['Contributing Factors. Job Dissatisfaction'].value_counts()

-                      360
Job Dissatisfaction     77
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [661]:
def update_vals(val):
    if pd.isnull(val):
        return np.nan
    elif val == '-':
        return False
    else:
        return True

In [662]:
tafe_cols_to_change = ['Contributing Factors. Dissatisfaction','Contributing Factors. Job Dissatisfaction']
tafe_up = tafe_resignations[tafe_cols_to_change].applymap(update_vals)

dissat = tafe_up.any(axis=1, skipna=False)

In [663]:
tafe_resignations['dissatisfied'] = dissat

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [664]:
dete_cols_to_change = ['job_dissatisfaction','dissatisfaction_with_the_department',
                       'physical_work_environment','lack_of_recognition',
                       'lack_of_job_security','work_location',
                       'employment_conditions','work_life_balance','workload']

In [665]:
dete_resignations['dissatisfied'] = dete_resignations[dete_cols_to_change].any(axis=1, skipna=False)

In [666]:
# Update and copy both df to include dissatisfied col
# with true, false values
# Will indicate if employee was dissatisfied w/ job
dete_resignations_up = dete_resignations.copy()
tafe_resignations_up = tafe_resignations.copy()

In [667]:
# Start to merge dfs so we can aggregate on dissatisfied
# First, create a column to know where values orginated

dete_resignations_up['institute'] = 'DETE'
tafe_resignations_up['institute'] = 'TAFE'

In [668]:
combined = pd.concat([dete_resignations_up, tafe_resignations_up])

In [669]:
#Remove null values if more than 500 values
combined_updated = combined.dropna(axis=1,thresh=500)
combined_updated = combined_updated.copy()

In [670]:
combined_updated['institute']

0      DETE
1      DETE
2      DETE
3      DETE
4      DETE
5      DETE
6      DETE
7      DETE
8      DETE
9      DETE
10     DETE
11     DETE
12     DETE
13     DETE
14     DETE
15     DETE
16     DETE
17     DETE
18     DETE
19     DETE
20     DETE
21     DETE
22     DETE
23     DETE
24     DETE
25     DETE
26     DETE
27     DETE
28     DETE
29     DETE
       ...
672    TAFE
673    TAFE
674    TAFE
675    TAFE
676    TAFE
677    TAFE
678    TAFE
679    TAFE
680    TAFE
681    TAFE
682    TAFE
683    TAFE
684    TAFE
685    TAFE
686    TAFE
687    TAFE
688    TAFE
689    TAFE
690    TAFE
691    TAFE
692    TAFE
693    TAFE
694    TAFE
695    TAFE
696    TAFE
697    TAFE
698    TAFE
699    TAFE
700    TAFE
701    TAFE
Name: institute, Length: 1523, dtype: object

In [671]:
# Will convert to float value and categorize
combined_updated['institute_service'].value_counts()

Less than 1 year      147
1-2                   102
3-4                    96
11-20                  89
More than 20 years     71
5-6                    48
7-10                   43
1.0                    36
5.0                    34
3.0                    31
0.0                    31
4.0                    28
6.0                    27
2.0                    23
22.0                   22
37.0                   21
9.0                    20
15.0                   18
13.0                   18
23.0                   17
43.0                   17
7.0                    17
17.0                   16
24.0                   16
38.0                   15
16.0                   15
21.0                   15
14.0                   14
8.0                    14
35.0                   14
39.0                   14
12.0                   14
11.0                   13
10.0                   13
19.0                   13
42.0                   13
32.0                   12
20.0                   12
34.0                   12
26.0                   11
33.0                   11
18.0                   11
41.0                   11
25.0                   10
31.0                   10
28.0                    8
29.0                    8
40.0                    8
44.0                    7
27.0                    7
36.0                    7
45.0                    5
30.0                    4
49.0                    3
46.0                    1
48.0                    1
50.0                    1
Name: institute_service, dtype: int64

In [672]:
combined_updated.loc[:,'institute_service'] = combined_updated['institute_service'].astype(str).str.extract(r'([0-9]{,2})').str.strip().str.replace(' ','0')

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning:

currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [673]:
combined_updated['institute_service'] = combined_updated['institute_service'].astype(float)

ValueError: could not convert string to float:

In [ ]:
# Categorize number of years into groups

def categorize_years(val):
    if val < 3:
        return 'New'
    elif (3 < val < 6):
        return 'Experienced'
    elif (7 < val < 10):
        return 'Established'
    else:
        return 'Veteran'

In [ ]:
# Use func above to creat new column with type of service category
combined_updated['service_cat'] = combined_updated['institute_service'].apply(categorize_years)
combined_updated['service_cat']

In [ ]:
# Now, measure service categories against whether resignations were due to dissatisfaction
combined_updated['dissatisfied'].value_counts(dropna=False)

In [ ]:
combined_updated['dissatisfied'] = combined_updated['dissatisfied'].fillna(False)

In [ ]:
dissat_pt = pd.pivot_table(combined_updated,columns='dissatisfied')
dissat_pt.plot(kind='bar')

In [ ]:
dissatisfied_true = combined_updated[combined_updated['dissatisfied'] == True]
dissatisfied_false = combined_updated[combined_updated['dissatisfied'] == False]

In [ ]:
employees_dissatisfied = dissatisfied_true['service_cat']
employess_not_dissatisfied = dissatisfied_false['service_cat']
employees_dissatisfied.value_counts().sum()

In [ ]:
employess_not_dissatisfied.value_counts().sum()

In [ ]:
employees_dissatisfied.value_counts()

In [ ]:
employess_not_dissatisfied.value_counts()

Looks like more turnover is with 'New' employees with less than 3 years with companies. This could be expected as they are more likely to look for new jobs than older employees.